<section class="content-header">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Listagem de fichas de campo</h1>
        </div>
        
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
            <li class="breadcrumb-item active">Listagem de fichas de campo</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="col-sm-12">
            </div>
          </div>
          
          <div class="card-body p-0">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Agente</th>
                  <th>Endereço</th>
                  <th>Presença de larva</th>
                  <th>Status da ficha</th>
                  <th colspan="2"></th>
                </tr>
              </thead>

              <tbody>
                <% @pwa_field_forms.each do |pwa_field_form| %>
                  <tr>
                    <td><%= pwa_field_form.user.name %></td>
                    <td><%= field_form_list_address(pwa_field_form) %></td>
                    <td><%= field_form_list_larvae_status_component(pwa_field_form.larvae_found) %></td>
                    <td><%= field_form_list_status_component(pwa_field_form.status) %></td>
                    <td><%= link_to "#{translate 'actions.show'}", field_form_path(pwa_field_form), class: 'btn btn-block bg-gradient-info btn-sm' %></td>
                    <td><%#= link_to "#{translate 'actions.edit'}", edit_pwa_field_form_path(pwa_field_form), class: 'btn btn-block bg-gradient-primary btn-sm' %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

          </div>

          <br />

          <div class="card-footer clearfix">
            <%= paginate @pwa_field_forms %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
