<p id="notice"><%= notice %></p>

<h1>Admin Departaments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_departaments.each do |admin_departament| %>
      <tr>
        <td><%= admin_departament.name %></td>
        <td><%= admin_departament.description %></td>
        <td><%= link_to 'Show', admin_departament_path(admin_departament) %></td>
        <td><%= link_to 'Edit', edit_admin_departament_path(admin_departament) %></td>
        <td><%= link_to 'Destroy', admin_departament_path(admin_departament), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Departament', new_admin_departament_path %>
