<%= form_for([:admin, admin_user]) do |form| %>
  <% if admin_user.errors.any? %>
    <div class="alert alert-info alert-dismissible" style="margin: 15px 15px 0 15px;">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h5><i class="icon fas fa-info"></i> <%= pluralize(admin_user.errors.count, 'erro impede', plural: 'erros impedem') %> que este usuário seja salvo:</h5>
      
      <ul>
        <% admin_user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-body">
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control', placeholder: 'Nome do usuário' %>
    </div>

    <div class="form-group">
      <%= form.label :cpf %>
      <%= form.text_field :cpf, class: 'form-control', placeholder: 'CPF do usuário' %>
    </div>

    <div class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email, class: 'form-control', placeholder: 'E-mail do usuário' %>
    </div>

    <div class="form-group">
      <%= form.label :role, 'Tipo de conta' %>
      <%= form.select :role, options_for_select(roles_name_for_selection, form.object.role), {}, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :departament, 'Secretaria' %>
      <%= form.select :departament_id, options_for_select(Departament.all.map { |ls| [ls.name, ls.id] }, form.object.departament_id), { include_blank: 'Opcional para usuários administradores' }, class: 'form-control' %>
    </div>

    <div class="form-group">
      <div class="custom-control custom-switch">
        <%= form.check_box :status, class: 'custom-control-input', id: 'customSwitch1' %>
        <%= form.label 'Ativar usuário?', class: 'custom-control-label', for: 'customSwitch1' %>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <%= link_to "#{translate 'actions.back'}", admin_users_path, class: 'btn btn-secondary' %>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous"></script>
<script>
  $(document).ready(function() {
    $('#user_cpf').mask('000.000.000-00', {reverse: true});
  });
</script>
